<div class="row" align="center">
  <div class="col-sm-1">
    <img src="assets/images/sigla.png" style="width:80px;height:80px;">
  </div>
  <div class="col-sm-1"><a class="ml-1" href="#"><h6 class="font-weight-light text-my-default">HOME</h6></a></div>
  <div class="col-sm-1"><a class="ml-1" href="gallery"><h6 class="font-weight-light text-my-default">GALLERY</h6></a></div>
  <div class="col-sm-1"><a class="ml-1" href="team"><h6 class="font-weight-light text-my-default">TEAM</h6></a></div>
  <div class="col-sm-1"><a class="ml-1" href="reviews"><h6 class="font-weight-light text-my-default">REVIEWS</h6></a></div>
  <div class="col-sm-2"><a class="ml-1" href="appointment"><h6 class="font-weight-light text-my-default">MAKE AN APPOINTMENT</h6></a></div>
  <div class="col-sm-1"><a class="ml-1" href="contact"><h6 class="font-weight-light text-my-default">CONTACT</h6></a></div>
 </div>
