<div style="background-color: grey;">
  <div class="container" style="background-color: grey; height:35%; width:100vw; padding-left:15%">
    <div class="row">
      <div class="col-sm-2 my-footer">
      <p>
        <b>SITE LINKS</b>
      </p>
      <a href="/home" class="my-link">Home</a>
      <br>
      <a href="/team" class="my-link">Team</a>
      <br>
      <a href="/gallery" class="my-link">Gallery</a>
      <br>
      <a href="/appointment" class="my-link">Appointments</a>
      <br>
      <a href="/reviews" class="my-link">Reviews</a>
      <br>
      <a href="/contact" class="my-link">Contact form</a>
    </div>
    
      <div class="col-sm-4 my-footer">
        <p><b>CONTACT US</b></p>
        <p>&#9742; 0999/999 999</p>
        <p>&#8962; 12 Sesame Street, Fictional City, Fake Country</p>
        <p>&#9993; fictionalsalon@gmail.com</p>
        <p>&#9202; 9:00-18:00 Mo-Sat</p>
      </div>

      <div class="col-sm-4 my-footer">
        <p><b>FIND US ON THE MAP:</b></p>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
      <p class="text-right copyright fixed-bottom">© Maria Mitișor 2021</p>
    </div>
    
</div>
