<p class="text-justify text-my-content" style="padding-top:50px;padding-left:50px;">
   You can ask any question or drop us a review by sending a message here:
</p>
<div class="container" style="padding-top:50px;">
  <form #sendmail = "ngForm" (ngSubmit) = "sendButtonClicked(sendmail.value);sendmail.reset();">
      <input type="text" class="form-control" style="width:600px;font-family:candara;font-size:large;border-color:lightgray" placeholder="Enter your email address here" name="address" ngModel>
      <br/>
      <textarea style="width:600px;height:200px;font-family:candara;font-size:large;border-color:lightgray"  class="form-control" placeholder="Write your message here: " name="body" ngModel></textarea>
      <br/>
    <button type="submit" class="btn btn-primary" style="background-color:gray;font-family:candara;border-style:none" value="submit">Send</button>
    <div [ngSwitch]="emailSuccessfullySent" style="padding-left:300px;padding-right:200px">
      <!-- the same view can be shown in more than one case -->
      <ngb-alert type="success" (closed)="closeAlert()" *ngSwitchCase="true" role="alert">Message sent successfully!</ngb-alert>
      
      <ngb-alert type="danger" (closed)="closeAlert()" *ngSwitchCase="false" role="alert">There was an error sending your message.</ngb-alert>
      <!--default case when there are no matches -->
      <div *ngSwitchDefault></div>
    </div>
 </form>
</div>